<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <script type="text/javascript">
            const authorization = () => {
                const searchParams = new URLSearchParams(window.location.search);
                const token = searchParams.get("token");
                const err = searchParams.get("err");
                console.log(err);
                if (err) {
                    window.location.href = `http://localhost:3000/authorization?err=${err}`;
                    return;
                }
                if (!err && !token) {
                    window.location.href = `http://localhost:3000/authorization`;
                }
                window.location.href = `http://localhost:3000/authorization?token=${token}`;
            };
            authorization();
        </script>
    </body>
</html>
